
.loginForm{
    position: fixed;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    z-index:100;
    background-color: white;
     width: 500px;
     border: 3px solid black;
     padding: 20px;

}
.loginFormInput{
    width:100%;
    padding: 2px 5px;
    border: 3px solid black;
    margin-bottom: 10px;
}
.loginForm h2{
    margin:0;
    margin-bottom: 10px;
    font-weight: 500;
}