.posts {
    width:900px;
    margin: 0 auto;
}
.blackBtn{
    padding: 10px;
    border-radius: 8px;
    background-color: black;
    color:white;
    transition: .2s;
}
.blackBtn:hover{
    background-color: rgba(1,1,1,0.8);
}