.addPostForm{
    position: fixed;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    z-index:100;
    background-color: white;
     width: 500px;
     border: 3px solid black;
     padding: 20px;
}
.hideBtn{
    position: absolute;
    top:4px;
    right:4px;
}
.addFormInput{
    width:100%;
    padding: 2px 5px;
    border: 3px solid black;
}
.addPostForm div{
    margin-top: 10px;
}
.addPostForm h2{
    margin:0;
    margin-bottom: 10px;
    font-weight: 500;
}
.addFormInput:focus::placeholder{
    color:transparent;
}
.overlay{
    position: fixed;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(1, 1, 1, 0.5);
}
.addPostControl{
   display: flex;
   justify-content: end;
}