@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none
}

button {
  outline: unset;
  border: none;
  font-family: "Poppins", sans-serif;
  background-color: unset;
  cursor: pointer;
}
input, button, textarea{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
input, textarea{
  outline: unset;
  border:0;
}

main {
  padding: 10px;
  min-height: calc(100vh - 100px);
}

h1 {
  text-align: center;
}
.icon-spin {
  -webkit-animation: icon-spin 0.7s infinite linear;
          animation: icon-spin 0.7s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
.blackBtn{
  padding: 10px;
  border-radius: 8px;
  background-color: black;
  color:white;
  transition: .2s;
}
.blackBtn:hover{
  background-color: rgba(1,1,1,0.8);
}